# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Defend The Tower.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\BrunoCesarPuliDalaRo\Studies\defend-the-tower\Defend The Tower\.idea\.idea.Defend The Tower\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
